n8n-workflow/daily-digest.json
{
  "name": "Daily Digest — Top Streams",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 18 * * *" }]
        }
      },
      "id": "cron-daily",
      "name": "Cron: Daily at Midnight IST (18:30 UTC)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT generate_daily_digest_stats() as stats;",
        "options": {}
      },
      "id": "fetch-top-streams",
      "name": "Fetch Top Streams",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [460, 300],
      "credentials": {
        "postgres": { "id": "supabase-pg", "name": "Supabase Postgres" }
      }
    },
    {
      "parameters": {
        "jsCode": "const stats = $input.first().json.stats;\nconst today = new Date().toISOString().split('T')[0];\nreturn [{ json: { digest_date: today, top_streams: stats } }];"
      },
      "id": "build-digest",
      "name": "Build Digest Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO daily_digests (digest_date, top_streams) VALUES ('{{ $json.digest_date }}', '{{ JSON.stringify($json.top_streams) }}'::jsonb) ON CONFLICT (digest_date) DO UPDATE SET top_streams = EXCLUDED.top_streams",
        "options": {}
      },
      "id": "upsert-digest",
      "name": "Upsert Daily Digest",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [900, 300],
      "credentials": {
        "postgres": { "id": "supabase-pg", "name": "Supabase Postgres" }
      }
    }
  ],
  "connections": {
    "Cron: Daily at Midnight IST (18:30 UTC)": {
      "main": [[{ "node": "Fetch Top Streams", "type": "main", "index": 0 }]]
    },
    "Fetch Top Streams": {
      "main": [[{ "node": "Build Digest Payload", "type": "main", "index": 0 }]]
    },
    "Build Digest Payload": {
      "main": [[{ "node": "Upsert Daily Digest", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "broadcasting" }]
}
